{% extends 'base.html' %}
{%block content%}

    
    <center><div class="card-header border border-dark mt-3 mb-3   text-white rounded " >ALL STUDENTS</div></center>
<table class="table table-bordered rounded border-dark text-center bg-primary bg-opacity-25  table-hover text-white justify-content-center"  >
<thead>
    <tr  >
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Details</th>
        <th>Branch</th>
        <th>Courses</th>
        <th>Status</th>
        <th>Enquiry Date</th>
        <th>Address</th>
        <th>Qualification</th>
        <th>Sem</th>
        <th>Passout</th>
        <th>Fees</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
</thead>
<tbody>
    {%for i in st%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.sname}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mob}}</td>
        <td>{{i.branch}}</td>
        <td>{{i.course}}</td>
        <td>{{i.status}}</td>
        <td>{{i.doe}}</td>
        <td>{{i.address}}</td>
        <td>{{i.qualification}}</td>
        <td>{{i.sem}}</td>
        <td>{{i.passout}}</td>
        <td>{{i.course.fees}}</td>
       <td><a class="btn text-white btn-sm text-black btn-outline-warning" href="{% url 'studentdelete' id=i.id %}">Delete</a></td>
       <td><a class="btn text-white  btn-sm text-black btn-outline-warning" href="{% url 'studentupdate' id=i.id %}">Update</a></td>

    </tr>
    {%endfor%}
</tbody>
</table>
{%endblock%}