{% extends 'base.html' %}
{%for message in messages%}
{%if message%}
<script>
    alert("{{message}}");
</script>
{%endif%}
{%endfor%}

{%block content%}
<div class="container-fluid border border-dark bg-primary bg-opacity-25 border-primary text-white rounded mt-4  col-8">
    <center><div class="card-header border border-dark mt-3 mb-3 bg-dark text-white rounded "> UPDATE DETAILS</div></center>
    {% for i in  st %}
<form action="{% url 'studentupdatesave' id=i.id %}" method="post">
    {% csrf_token %}

  
    <input type="hidden" name="id" value="{{ i.id }}">
    Student Name<input type="text" name="sname" class="form-control   " placeholder=" old name {{ i.sname }}"/><br>
    Email<input type="email" name="email" class="form-control  "  placeholder=""/><br>
    Mobile<input type="number" name="mob" class="form-control " /><br>
    Branch<input type="text" name="branch" class="form-control " /><br>
    Course<select name="course" class="form-control " ><br>
        {%for i in cr%}
        <option value="{{i.id}}">{{i}}</option>
        {%endfor%}
    </select><br>
    Status<select name="status" class="form-control "><br>
        <option>Enquiry</option>
        <option>Joined</option>
        <option>Placed</option>
    </select><br>
    Address<textarea name="address" class="form-control "></textarea><br>
    Qualification<input type="text" name="qualification" class="form-control " /><br>
    Sem<input type="text" name="sem" class="form-control " /><br>
    Passout Year<input type="number" name="passout" class="form-control " /><br>
    <button class="btn btn-primary col-12">UPDATE DETAILS</button>
    {% endfor %}
</form>
</div>

{% endblock %}